In [13]:
import pandas as pd
df1 = pd.read_csv("weather-report.csv")
df1

       date  temperature  windspeed   event
0  01/01/24           34          4    Rain
1  01/02/24           35          5   Sunny
2  01/03/24           36          3   Sunny
3  01/04/24           37          3   Sunny
4  01/05/24           38          4   Sunny
5  01/06/24           39          6   Sunny
6  01/07/24           40          7  Winter
7  01/08/24           41          5  Winter
8  01/09/24           42          6    Cold

In [4]:
# creating a particular dataframe using python dictionary
weather_report = {
    'date' : ['01/01/2024','01/02/2024','01/03/2024','01/04/2024'],
    'temperature' : [34,56,33,44],
    'windspeed' : [4,5,3,5],
    'event' : ['Rainy','Sunny','Winter','Cold']
}

# defining the dataframe here
df = pd.DataFrame(weather_report)
df

         date  temperature  windspeed   event
0  01/01/2024           34          4   Rainy
1  01/02/2024           56          5   Sunny
2  01/03/2024           33          3  Winter
3  01/04/2024           44          5    Cold

In [3]:
df.shape

(4, 4)

In [25]:
# putting rows and columns seperate
rows, columns = df.shape

print(rows,columns)

4 4

In [9]:
# getting the initial few rows with head() [Used with big excel sheets]
df.head(2)

         date  temperature  windspeed  event
0  01/01/2024           34          4  Rainy
1  01/02/2024           56          5  Sunny

In [10]:
# for printing last no. of rows
df.tail()

         date  temperature  windspeed   event
0  01/01/2024           34          4   Rainy
1  01/02/2024           56          5   Sunny
2  01/03/2024           33          3  Winter
3  01/04/2024           44          5    Cold

In [11]:
df.tail(2)

         date  temperature  windspeed   event
2  01/03/2024           33          3  Winter
3  01/04/2024           44          5    Cold

In [12]:
# getting specific data here
df[1:3]

         date  temperature  windspeed   event
1  01/02/2024           56          5   Sunny
2  01/03/2024           33          3  Winter

In [14]:
# printing columns
df.columns

Index(['date', 'temperature', 'windspeed', 'event'], dtype='object')

In [15]:
# printing particular columns
df.date  # another way to do that df['date']

0    01/01/2024
1    01/02/2024
2    01/03/2024
3    01/04/2024
Name: date, dtype: object

In [24]:
# getting the data type of particular column
print(type(df['date']))

# printing specific columns
df[['date','event']]

<class 'pandas.core.series.Series'>

         date   event
0  01/01/2024   Rainy
1  01/02/2024   Sunny
2  01/03/2024  Winter
3  01/04/2024    Cold

In [27]:
# Getting the maximum column from windspeed
print(df['windspeed'].max())

# for minimum value
print(df['windspeed'].min())

# Getting the average of windspeed
print(df['windspeed'].mean())

# for getting the statistics of the dataset
df.describe()

5
3
4.25

       temperature  windspeed
count     4.000000   4.000000
mean     41.750000   4.250000
std      10.719919   0.957427
min      33.000000   3.000000
25%      33.750000   3.750000
50%      39.000000   4.500000
75%      47.000000   5.000000
max      56.000000   5.000000

In [28]:
# printing the dataframe on a specific condition
df[df.windspeed >= 5]

         date  temperature  windspeed  event
1  01/02/2024           56          5  Sunny
3  01/04/2024           44          5   Cold

In [32]:
# more specific condition
df[['date','windspeed']][df.windspeed >= 3]

         date  windspeed
0  01/01/2024          4
1  01/02/2024          5
2  01/03/2024          3
3  01/04/2024          5

In [40]:
# getting the index now
print(df.index)

# Setting up the index here
df.set_index('date',inplace = True)

RangeIndex(start=0, stop=4, step=1)

In [46]:
# getting specific data using loc
# specific_data = df.set_index('date')
# specific_data.loc['01/02/2024']

df.loc['01/02/2024']
df

            temperature  windspeed   event
date
01/01/2024           34          4   Rainy
01/02/2024           56          5   Sunny
01/03/2024           33          3  Winter
01/04/2024           44          5    Cold

In [47]:
# reseting the indexes of the dataframe
df.reset_index(inplace=True)
df

         date  temperature  windspeed   event
0  01/01/2024           34          4   Rainy
1  01/02/2024           56          5   Sunny
2  01/03/2024           33          3  Winter
3  01/04/2024           44          5    Cold