In [3]:
import pandas as pd

df = pd.read_csv("weather-report2.csv")
df

       date     city  temperature  windspeed   event
0  01/01/24  newyork           17          4    Rain
1  01/02/24  newyork           35          5   Sunny
2  01/03/24  newyork           36          3     Fog
3  01/04/24   mumbai           37          3   Sunny
4  01/05/24   mumbai           38          7  Winter
5  01/06/24   mumbai           39          6   Sunny
6  01/07/24    paris           45          4  Summer
7  01/08/24    paris           41          5  Winter
8  01/09/24    paris           42          6    Cold

In [4]:
# grouping the data based on cities
group_df = df.groupby('city')                       # returns an object regarding it
group_df

In [11]:
# getting each part of the data
for city,city_df in group_df:
    print(city)
    print(city_df)

mumbai
       date    city  temperature  windspeed   event
3  01/04/24  mumbai           37          3   Sunny
4  01/05/24  mumbai           38          7  Winter
5  01/06/24  mumbai           39          6   Sunny
newyork
       date     city  temperature  windspeed  event
0  01/01/24  newyork           17          4   Rain
1  01/02/24  newyork           35          5  Sunny
2  01/03/24  newyork           36          3    Fog
paris
       date   city  temperature  windspeed   event
6  01/07/24  paris           45          4  Summer
7  01/08/24  paris           41          5  Winter
8  01/09/24  paris           42          6    Cold

In [12]:
# getting specific dataframe for a city
mumbai_df = group_df.get_group('mumbai')
mumbai_df

       date    city  temperature  windspeed   event
3  01/04/24  mumbai           37          3   Sunny
4  01/05/24  mumbai           38          7  Winter
5  01/06/24  mumbai           39          6   Sunny

In [13]:
# getting the maximum temperature of a particular or each of these cities
group_df.max()                                                                      # split | apply | combine strategy or format

             date  temperature  windspeed   event
city
mumbai   01/06/24           39          7  Winter
newyork  01/03/24           36          5   Sunny
paris    01/09/24           45          6  Winter

In [ ]:
group_df

: